h1{
  width: 40%;  
  padding: 0px;
  border: 4px solid #000000;
  margin-left: auto;
  margin-right: auto;
  font-size: 3em;
  font-weight: bold; 
  text-align: center;
  color: #000000;
}
img {
  width: 10em;
  padding: 0.3em;
  border: 0em;
  margin: 0em;
}
#planets{
  border-collapse: collapse;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  padding: 8px;
	border: 1px solid;
  text-align: center;
  }

#planets th{
  background-color: #B1B3B3FF;
  border: 0px;
}

.hover:hover td{
  background-color: #828282;
} 

.planet-titles{
  color: #000000;
  font-size: 2em;
  font-weight: bold;
}

.side-titles{
  color: #000000;
  font-size: 1.1em;
  font-weight: bold;
}

.side-titles-column{
  background-color: #B1B3B3FF;
  text-align: left;
}

.gold{
  background-color: #E3CD81FF;
}

.gray{
  background-color: #B1B3B3FF;
}

.imagebackground{
  background-color: #000000;
}

body {
  background-image: url(../media/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}